<div class="new_posts_card i-card">
    <h2 class="new_posts_card-title">
        最新文章
    </h2>
    <div class="new-posts">
        <% site.posts.forEach(function(post, index) { %>
        <% if (index < 5) { %>
            <h4>
                <a href="<%= post.link %>"><%= post.title %></a>
            </h4>
        <% } %>
        <% }); %>
    </div>
</div>