<div class="new_posts_card i-card">
    <h2 class="new_posts_card-title">
        最新文章
    </h2>
    <div class="new-posts">
        <% let index = 0; site.posts.forEach(function(post, i) { %>
        <% if (index < 5 && post.hideInList == false) { %>
            <h4>
                <a href="<%= post.link %>"><%= post.title %></a>
            </h4>
        <% index++;} %>
        <% }); %>
    </div>
</div>