<div class="tags_card i-card">
    <h2 class="tags_card-title">
        标签云
    </h2>
    <div class="tags-card-container">
        <% site.tags.forEach((tag) => { %>
        <a class="tags-tag i-tag
            i-tag-<%= ['', 'primary', 'success', 'warning', 'info','error','banana','other_1','other_2','other_3','other_4',][Math.floor(Math.random()*11)] %>" href="<%= tag.link %>">
            <%= tag.name %>
        </a>
        <% }); %>
    </div>
</div>